@using System.Text.Json;
@model WorkFlowResponseModel
<div>
    <table class="tableborder">
         <tr>
            <td style="color:blue; background-color:blue; color:white;">          
                From Activity
            </td>
            <td style="color:blue; background-color:blue; color:white;">
                To  Activity
            </td>
            <td style="color:blue; background-color:blue; color:white;">
                Command Name
            </td>
            <td style="color:blue; background-color:blue; color:white;">
                Start Transition Time
            </td>
            <td style="color:blue; background-color:blue; color:white;">
                Duration In Seconds
            </td>
        </tr>                 
        @{                
            var wfJsonModel = JsonSerializer.Serialize(Model);  
        }            
        @foreach(var data in Model.ListHistory)
        {
            <tr>
                <td>                         
                     <span>@data.FromActivityName</span>                    
                </td>
                <td>                         
                     <span>@data.ToActivityName</span>                    
                </td>
                <td>                         
                     <span>@data.TriggerName</span>                    
                </td>
                <td>                         
                     <span>@data.StartTransitionTime</span>                    
                </td>
                <td>                         
                     <span>@data.TransitionDuration</span>                    
                </td>                             
            </tr>                    
        }      
    </table>
</div>