@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using Microsoft.AspNetCore.Mvc.ViewFeatures;
@using System.Net.Http.Headers;
@*@model List<WorkflowEngineMVC.ViewModels.StateViewModel>*@
@{
    ViewBag.Title = "CPRO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WorkFlowResponseModel
<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">  
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>  
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>  
<div id="wfgrid" style="min-height:600px; max-width: 1200px;">
    <table class="tableborder">
         <tr>
            <td style="color:blue; background-color:blue; color:white;">          
                From
            </td>
            <td style="color:blue; background-color:blue; color:white;">
                To
            </td>
        </tr>          
        <tr>
            <td>
                @Model.Processdefinition.InitialActivity.Name
            </td>
            <td>                                
                @foreach(var data in Model.Processdefinition.Transitions.Where(d => d.From.Name == @Model.Processdefinition.InitialActivity.Name))
                {
                    ViewData["NextActivityName"] = data.To.Name;
                    ViewData["FinalActivity"] = false;                
                    @data.To.Name                    
                }                
            </td>
        </tr> 
        @while((bool?)ViewData["FinalActivity"] != true)
        {
            @foreach(var data in Model.Processdefinition.Transitions.Where(d => d.From.Name == @ViewData["NextActivityName"]?.ToString()))
            {
                ViewData["NextActivityName"] = data.To.Name;
                ViewData["FinalActivity"] = data.To.IsFinal;
                <tr>
                    <td>
                        @data.From.Name
                    </td>
                    <td>
                        @data.To.Name
                    </td>
                </tr>        
            }
        }
    </table>
    <br/>
    <table class="tableborder"> 
        @foreach (var item in Model.ListCommandView_Model)
        {
            <tr>
                <td>                    
                      <a class="nav-link text-dark" asp-area="" asp-controller="CPROChain" asp-action="ProcessCommand" asp-route-processId=@item.ProcessId asp-route-commandName=@item.CommandName>@item.CommandName</a>                          
                </td>
            </tr>
            @*<tr>
                <td>                    
                    <a class="nav-link text-dark" asp-area="" asp-controller="CPRO" asp-action="ProcessState" asp-route-stateName=@item.StateName>@item.StateName</a>
                </td>
            </tr>*@
        }
    </table>
    @if (@Model.GTSTScheduler_Model != null)
    {
        <br />
        <div>  
            @Html.Partial("GTSTScheduler",Model)  
        </div>
    }
</div>