@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using Microsoft.AspNetCore.Mvc.ViewFeatures;
@using System.Net.Http.Headers;
@*@model List<WorkflowEngineMVC.ViewModels.StateViewModel>*@
@{
    ViewBag.Title = "CPRO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WorkFlowResponseModel
<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">  
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>  
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>  
<div id="wfgrid" style="min-height:600px; max-width: 1200px;">
    @if(@Model.ListCommandView_Model.Count>0)
    {
        <div>        
            <b>Current State Name: @Model.ListCommandView_Model.FirstOrDefault().CurrentStateName</b>
        </div>
        <br />
        <div>        
            <b>Current Activity Name: @Model.ListCommandView_Model.FirstOrDefault().CurrentActivityName</b>
        </div>
    }
    <br/>
    <table>
        @foreach (var item in Model.ListCommandView_Model)
        {
            <tr>
                <td>                    
                      <a class="nav-link text-dark" asp-area="" asp-controller="CPROChain" asp-action="ProcessCommand" asp-route-processId=@item.ProcessId asp-route-commandName=@item.CommandName>@item.CommandName</a>                          
                </td>
            </tr>
            @*<tr>
                <td>                    
                    <a class="nav-link text-dark" asp-area="" asp-controller="CPRO" asp-action="ProcessState" asp-route-stateName=@item.StateName>@item.StateName</a>
                </td>
            </tr>*@
        }
    </table>
    @if (@Model.GTSTScheduler_Model != null)
    {
        <br />
        <div>  
            @Html.Partial("GTSTScheduler",Model)  
        </div>
    }
</div>